<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InvoiceLog.Properties.Settings.InvoiceLogConnectionString"
            connectionString="Data Source=gandalf\gandalf14;Initial Catalog=InvoiceLog;Persist Security Info=True;User ID=sa;Password=ladybug1995"
            providerName="System.Data.SqlClient" />
        <add name="MainCon"
			connectionString="Data Source=gandalf\gandalf14;Initial Catalog=InvoiceLog;Persist Security Info=True;User ID=sa;Password=ladybug1995"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
	<appSettings>
		<add key="AttachmentPath"  value="Attachments" />
		<add key="SamplePath"  value="Samples"/>
	</appSettings>
</configuration>